<!DOCTYPE html>
  <html>
    <div class="main_box">
      <h1>Triangle Type</h1>
      <p>Enter 3 sides to determine what kind of triangle you have.</p>
  <form action="/result">
    <div class="form-group">
      <h2>Side 1:</h2>
        <input id="side1" name="side1" class="form-control" type="text">
    </div>
   <div class="form-group">
      <h2>Side 2:</h2>
       <input id="side2" name="side2" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h2>Side 3:</h2>
       <input id="side3" name="side3" class="form-control" type="text">
   </div>
  <button type="submit" class="btn-danger">Find Triangle Type</button>
 </form>
</div>
</html>
